td{
    width: 200px;
    height: 80px;
    text-align: center;

}

th{
    width: 200px;
    height: 80px;
}

table{
    font-size: 30px;
    border-collapse: collapse;
font-family: Calibri;
}

.list1{
    background-color: cadetblue;
}

.list2{
    background-color: cadetblue;
}

.list3{
    background-color: #b9b6b9;
}

div{
    padding: 40px;
    background-color: whitesmoke;
}